/* globals */

* {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

body {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth !important;

  @media screen and (display-mode: standalone) {
    user-select: none;
    ::selection {
      background: transparent;
    }
    nav {
      padding-bottom: 1rem !important;
    }
    footer {
      padding-top: 1rem !important;
    }
  }
}

::selection {
  border: none;
  background: rgba(94, 234, 212);
}

nav,
footer {
  min-height: 4rem;
}

.logo {
  position: relative;

  .icon {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    svg {
      grid-column: 1/1;
      grid-row: 1/1;
      width: 0.75em;
      height: 0.75em;
    }
    span {
      grid-column: 1/1;
      grid-row: 1/1;
      position: relative;
      top: 1px;
      font-size: xx-small;
    }
  }
}

.scrollToTopBtn {
  opacity: 0.5;
  animation: fadeIn 200ms ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 0.5;
      transform: translateX(0);
    }
  }
}

.animate-1 {
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.animate-3 {
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}
.animate-infinite {
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.stats-bubble {
  transform-origin: 80% -2rem;
  animation: fade 200ms ease-out both, bounce 200ms ease-out 100ms both;

  &::after {
    --size: 1rem;
    position: absolute;
    content: '';
    right: 1rem;
    top: calc(var(--size) * -1);
    width: 0;
    height: 0;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid currentColor;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes bounce {
    0% {
      transform: scale(0.66) translateY(0px);
    }
    66% {
      transform: scale(1.1) translateY(4px);
    }
    100% {
      transform: scale(1) translateY(4px);
    }
  }
}
