/* globals */

* {background: inherit; scroll-behavior: smooth}

body {
	overscroll-behavior-y: contain;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth !important;
	
	@supports (-webkit-overflow-scrolling: touch) {
		-webkit-overflow-scrolling: touch;
	}
}

::selection {
	border: none;
	@apply bg-teal-300;
}

.scrollToTopBtn {
	opacity: @apply opacity-50;
	animation: fadeIn 200ms ease-out;

	@keyframes fadeIn {
		from {opacity: 0; transform: translateX(100px)}
		to {opacity: @apply opacity-50; transform: translateX(0)}
	}
}