/* globals */

* {scroll-behavior: smooth}

body {
	overscroll-behavior-y: contain;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth !important;
	
	@supports (-webkit-overflow-scrolling: touch) {
		-webkit-overflow-scrolling: touch;
	}
}

::selection {
	border: none;
	background: rgba(94, 234, 212);
}

.scrollToTopBtn {
	opacity: 0.5;
	animation: fadeIn 200ms ease-out;

	@keyframes fadeIn {
		from {opacity: 0; transform: translateX(100px)}
		to {opacity: 0.5; transform: translateX(0)}
	}
}