@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.blend-mode-darken {
		mix-blend-mode: darken;
	}

	.ios-safari-full-height {
		@supports (-webkit-touch-callout: none) {
			min-height: -webkit-fill-available; 
		}
	}

	.display-breakpoint::after {
		content: "N/A";
		@screen sm { content: "sm"; }
		@screen md { content: "md"; }
		@screen lg { content: "lg"; }
		@screen xl { content: "xl"; }
		@screen 2xl { content: "2xl"; }
	}

	.strike {
		text-decoration: line-through;
	}

	@keyframes fade {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	
	.fadeIn {
		animation: fadeIn 500ms ease-out both;
	}
}